<div class="primary-mobile-nav header-v1" id="primary-mobile-nav" role="navigation">
   <a href="#" class="close-canvas-mobile-panel">×</a>
   <ul id="primary-menu2" class="menu">
      <li class="dropdown-item current-menu-item menu-item-has-children">
         <a href="#">Home</a>
         <ul class="sub-menu">
            <li><a href="index.html"> Home Classic</a></li>
            <!--<li><a href="home-page-2.html">Home Modern</a></li>
                                    <li><a href="home-page-3.html">Home Clean</a></li>-->
            <li><a href="home-page-4.html">Home Categories</a></li>
            <li><a href="home-page-5.html">Home Collections</a></li>
            <li><a href="home-page-6.html">Home Lookbook</a></li>
            <li><a href="home-page-7.html">Home Paralax</a></li>
            <li><a href="home-page-8.html">Home Fullslider</a></li>
            <li><a href="home-page-9.html">Home Minimal</a></li>
            <li><a href="home-page-10.html">Home Instagram</a></li>
         </ul>
      </li>
      <li class="dropdown-item menu-item-has-children">
         <a href="#">Shop</a>
         <ul class="sub-menu">
            <li><a href="shop-default.html">Shop Default</a></li>
            <li><a href="shop-3column.html">Shop 3 column</a></li>
            <li><a href="shop-4-column.html">Shop 4 column</a></li>
            <li><a href="shop-5-column.html">Shop 5 column</a></li>
            <li><a href="shop-6-column.html">Shop 6 column</a></li>
            <li><a href="shop-with-side-bar.html">Shop with side-bar</a></li>
            <li><a href="my-account.html">My Account</a></li>
            <li><a href="shop-cart.html">Shop cart</a></li>
            <li><a href="shop-checkout.html">Shop checkout</a></li>
            <li class="dropdown-item menu-item-has-children">
               <a href="#">Shop-Details</a>
               <ul class="submenu-sub">
                  <li><a href="shop-detail-product-affiliate.html">Shop detail affiliate</a></li>
                  <li><a href="shop-detail-product-bundle.html">Shop detail bundle </a></li>
                  <li><a href="shop-detail-product-grouped.html">Shop detail grouped</a></li>
                  <li><a href="shop-detail-product-hot.html">Shop detail hot </a></li>
                  <li><a href="shop-detail-product-default.html">Shop detail default</a></li>
                  <li><a href="shop-detail-product-new.html">Shop detail new</a></li>
                  <li><a href="shop-detail-product-sale.html">Shop detail sale</a></li>
                  <li><a href="shop-detail-product-variable.html">Shop detail variable</a></li>
                  <li><a href="shop-detail-product-video.html">Shop detail video</a></li>
                  <li><a href="shop-detail-product-outstock.html">Shop detail outofstock</a></li>
               </ul>
            </li>
            <li><a href="shop-wishlist.html">Shop wishlist</a></li>
            <li><a href="shop-list-items.html">Shop List Items</a></li>
            <li><a href="news-steller.html">Popup Newsletter</a></li>
            <li><a href="shop-order-tracking.html">Shop order tracking</a></li>
         </ul>
      </li>
      <li class="dropdown-item menu-item-has-children">
         <a href="#">Blog</a>
         <ul class="sub-menu">
            <li><a href="blog-default.html">Blog Default</a></li>
            <li><a href="blog-listview.html">Bloglist view</a></li>
            <li><a href="blog-with-sidebar.html">Blog With Sidebar</a></li>
            <li><a href="blog-4-columns.html">Blog 4 columns</a></li>
            <li><a href="blog-details.html">Blog Details</a></li>
         </ul>
      </li>
      <li class="dropdown-item menu-item-has-children">
         <a href="#">Protfolio</a>
         <ul class="sub-menu">
            <li><a href="protfolio-boxgrid.html">Portfolio Boxed grid</a></li>
            <li><a href="protfolio-flatgrid.html">Portfolio Flat grid</a></li>
            <li><a href="protfolio-manasory.html">Portfolio Manasory</a></li>
            <li><a href="protfolio-metro.html">Portfolio Metro</a></li>
            <li><a href="protfolio-detail-v1.html">Portfolio Detail Page 1</a></li>
            <li><a href="protfolio-detail-v2.html">Portfolio Detail Page 2</a></li>
         </ul>
      </li>
      <li class="dropdown-item menu-item-has-children">
         <a href="#">Pages</a>
         <ul class="sub-menu">
            <li><a href="faq.html">FAQ</a></li>
            <li><a href="comming-soon.html">Coming Soon</a></li>
         </ul>
      </li>
      <li class="dropdown-item menu-item-has-children">
         <a href="#">Contact</a>
         <ul class="sub-menu">
            <li><a href="contact.html">Contact</a></li>
            <li><a href="404.html">Contact 404</a></li>
         </ul>
      </li>
   </ul>
</div>
<div id="off-canvas-layer" class="off-canvas-layer"></div>


<div class="modal fade product_view" id="product_view">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <a href="#" data-dismiss="modal" class="class pull-right"><span
                  class="glyphicon glyphicon-remove"></span></a>
         </div>
         <div class="modal-body">
            <div class="wrapper bt row ">
               <ul class="preview-thumbnail nav nav-tabs">
                  <li class="active"><a data-target="#pic-1" data-toggle="tab"><img
                           src="/uploads/products/{{this.image}}" class="img-responsive" alt="img" /></a></li>
                  <li><a data-target="#pic-2" data-toggle="tab"><img src="/uploads/products/{{this.image}}"
                           class="img-responsive" alt="img" /></a></li>
                  <li><a data-target="#pic-3" data-toggle="tab"><img src="/uploads/products/{{this.image}}"
                           class="img-responsive" alt="img" /></a></li>
               </ul>
               <div class="preview-outer col-md-6">
                  <div class="preview">
                     <div class="preview-pic tab-content">
                        <div class="tab-pane active" id="pic-1"><img src="/uploads/products/{{this.image}}"
                              class="img-responsive" alt="img" /></div>
                        <div class="tab-pane" id="pic-2"><img src="/uploads/products/{{this.image}}"
                              class="img-responsive" alt="img" /></div>
                        <div class="tab-pane" id="pic-3">
                           <img src="/uploads/products/{{this.image}}" class="img-responsive" alt="img" />
                           <div class="video-holder">
                              <div class="overlay-gallery">
                                 <div class="icon-holder">
                                    <div class="icon">
                                       <a class="html5lightbox bg" title="Solution Video Gallery" href="#"><img
                                             src="/uploads/products/{{this.image}}" alt="Play Button"
                                             class="img-responsive"></a>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <p>Roll over image to zoom in</p>
               </div>
               <div class="details col-md-6">
                  <div class="top-head">
                     <h4>lounge Chair</h4>
                  </div>
                  <h2 class="product-title">Kaiser Idell Ceiling Lamp Inspired by Christian Dell</h2>
                  <div class="rating">
                     <ul class="stars">
                        <li><span class="fa fa-star checked"></span>
                           <span class="fa fa-star checked"></span>
                           <span class="fa fa-star checked"></span>
                           <span class="fa fa-star"></span>
                           <span class="fa fa-star"></span> (Based on 5 reviews)
                        </li>
                     </ul>
                  </div>
                  <div class="price">
                     <p>95.00 USD</p>
                  </div>
                  <div class="available">
                     <ul>
                        <li>Available:</li>
                        <li> In Stock</li>
                     </ul>
                  </div>
                  <div class="product-description">
                     <p>Suspendisse quos? Tempus cras iure temporibus? Eu laudantium cubilia sem sem! Repudiandae et!
                        Massa senectus enim minim sociosqu delectus posuere.</p>
                     <a>Show more</a>
                  </div>
                  <div class="select-color">
                     <form>
                        <div class="select-wrap">
                           <select id="select-2" class="form-item__element form-item__element--select" required>
                              <option disabled="" selected="" value="">Select Color</option>
                              <option value="1">Value 1</option>
                              <option value="2">Value 2</option>
                           </select>
                        </div>
                     </form>
                  </div>
                  <div class="material">
                     <form>
                        <div class="select-wrap">
                           <select id="select-2-1" class="form-item__element form-item__element--select" required>
                              <option disabled="" selected="" value="">Material</option>
                              <option value="1">Value 1</option>
                              <option value="2">Value 2</option>
                           </select>
                        </div>
                     </form>
                  </div>
                  <div class="add-pro">
                     <ul>
                        <li>
                           <div class="value-button one" id="decrease" onclick="decreaseValue()">-</div>
                           <input type="number" id="number" value="0" />
                           <div class="value-button two" id="increase" onclick="increaseValue()">+</div>
                        </li>
                        <li class="addtocart">
                           <button class="add-to-cart btn btn-default" type="button">Add to cart</button>
                        </li>
                     </ul>
                  </div>
                  <div class="wish-compare">
                     <ul>
                        <li><span class="fas fa-heart"></span> Add to wishlist</li>
                        <li><span class="fas fa-exchange-alt"></span>Add to compare</li>
                     </ul>
                  </div>
                  <div class="social-md">
                     <ul>
                        <li><a><i class="fab fa-facebook-f"></i></a></li>
                        <li><a><i class="fab fa-twitter"></i></a></li>
                        <li><a><i class="fab fa-instagram"></i></a></li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>